* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;

   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

nav {
   background-color: #1b2544;
   padding: 10px 0px;

   #navContent {

      #brandName {
         font-size: 2em;
         color: white !important;
      }

      #navLinks {
         .nav-link {
            font-size: 1.2em;
            margin-left: 40px;
            transition: 200ms;
            font-weight: 600;

            &:hover {
               color: darken($color: #fff, $amount: 30);
            }
         }
      }
   }
}

